*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #0f0f1e;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header{
    width: 90vw;
    position: fixed;
    top: 0;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo{
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0px 0px 10px rgba(0, 247, 255, 0.5);
}

header nav ul{
    display: flex;
    gap: 48px;
}

header nav ul li{
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #00f7ff;
}