@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

html,
body {
    background-color: lightgray;
}

header {
    width: 100%;
    background-color: grey;
}

header>h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0px;
}



menu>ul>li {
    display: inline-block;
    background-color: rgb(57, 57, 57);
    padding: 20px 20px;

}

menu>ul>li>a {
    text-decoration: none;
    color: white;
}

.btn-menu {
    display: none;
}

article {
    background-color: white;
    padding: 20px;
    max-width: 1000px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

article>h2 {
    font-size: 2em;
    margin-bottom: 3em;
}

article>p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    text-indent: 3em;
}

@media screen and (max-width: 600px) {

    header>h1 {
        font-size: 2em;
        text-align: center;
        padding: 10px 0px;
    }

    .btn-menu {
        display: block;
        width: 100%;
        background-color: white;
        border: none;
        padding: 10px;
    }

    menu>ul>li>a{
        font-size: 1em;

    }

    .btn-menu>img {
        height: 25px;
    }

    .menu {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .menu-mostrar {
        max-height: 500px;
    }


    menu>ul>li {
        display: block;
        max-width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid lightgrey;
    }

    article>h2 {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }


    article>p {
        font-size: 0.9em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        text-indent: 3em;
    }

}