@charset "UTF-8";

@font-face{
    font-family: 'Xilogravura';
    src: url(font/xilosa_.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'Xilogravura';
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 40px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(78, 71, 71);
    color: white;
}

section.imagem > p{
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.406);
    padding: 20px;
}

section.normal > p{
    padding-left: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}