body {
    background-image: url(../images/back-tv.jpg);
}

img#phone {
    display: none;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: block;
}