@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #012340;
    --cor2: #0367A6;
    --cor3: #049DD9;
    --cor4: #05DBF2;
    --cor5: #05F2F2;
    --cor6: #d1f2ff;
    --cor7: #edecec;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    background-color: white;
}

header{
    width: 100vw;
    background-color: var(--cor6);
}

header>div.info-header {
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header>div.info-header>p{
    color: white;
    font-size: 0.5em;
}

header>div.info-header>img {
    width: 15px;
}

header>div.principal-header {
    max-width: 1200px;
    height: 50px;
    background-color: var(--cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: auto;
}

header>div.principal-header>div.btn-header {
    display: flex;
    gap: 20px;
}

header>div.principal-header>div.btn-header>img {
    cursor: pointer;
    height: 25px;
}

header>div.principal-header>div.logo>img {
    height: 25px;
}

div.search1 {
    display: none !important;
}

div.search-cep {
    width: 100%;
    background-color: var(--cor6);
}

div.search {
    display: flex;
    position: relative;
}

div.search>input {
    width: 100%;
    height: 30px;
    margin: 5px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

div.search>input::placeholder{
    color: rgb(180, 180, 180);
    font-size: 0.85em;
    font-style: italic;
}

div.search>img {
    position: absolute;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
}

div.cep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

div.cep p {
    color: var(--cor1);
    font-size: 0.8em;
}

div.cep img {
    height: 20px;
}

div.cep>div {
    display: flex;
    align-items: center;
    gap: 2px;
}















.carousel {
    width: 100%;
    overflow: hidden;
    padding: 16px 0; /* espaço para mostrar os cantinhos */
}

.carousel-track {
    display: flex;
    gap: 12px; /* espaço entre os slides */
    transition: transform 0.5s ease;
    will-change: transform;
}

/* Slide NÃO ocupa 100% */
.slide {
    flex: 0 0 85%;
    border-radius: 10px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Indicadores */
.carousel-control {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #cbd5e1;
}

.dot.active {
    background: #0ea5e9;
    width: 20px !important;
    transition: transform 0.5s ease;
}
