@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #012340;
    --cor2: #0367A6;
    --cor3: #049DD9;
    --cor4: #05DBF2;
    --cor5: #05F2F2;
    --cor6: #edecec;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vh;
    background-color: white;
}

header>div.info-header {
    background-color: black;

}



header>div.info-header>img {
    width: 15px;
}
