@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #012340;
    --cor2: #0367A6;
    --cor3: #049DD9;
    --cor4: #05DBF2;
    --cor5: #05F2F2;
    --cor6: #d1f2ff;
    --cor7: #edecec;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    background-color: white;
}

header{
    width: 100vw;
    background-color: var(--cor6);
}

header>div.info-header {
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header>div.info-header>p{
    color: white;
    font-size: 0.5em;
}

header>div.info-header>img {
    width: 15px;
}

header>div.principal-header {
    width: 100%;
    height: 50px;
    background-color: var(--cor6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header>div.principal-header>div.btn-header {
    display: flex;
    gap: 15px;
}

header>div.principal-header>div.btn-header>img {
    cursor: pointer;
    height: 30px;
}

header>div.principal-header>div.logo>img {
    height: 25px;
}

div.search1 {
    display: none !important;
}

div.search-banner {
    width: 100%;
    height: 210px;
    background: linear-gradient(to bottom, var(--cor6), white);
}

div.search {
    display: flex;
    position: relative;
}

div.search>input {
    width: 100%;
    height: 30px;
    margin: 5px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

div.search>input::placeholder{
    color: rgb(180, 180, 180);
    font-size: 0.85em;
    font-style: italic;
}

div.search>img {
    position: absolute;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
}