@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #012340;
    --cor2: #0367A6;
    --cor3: #049DD9;
    --cor4: #05DBF2;
    --cor5: #05F2F2;
    --cor6: #edecec;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vh;
    background-color: white;
}

header{
    width: 100vw;
}

header>div.info-header {
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header>div.info-header>p{
    color: white;
    font-size: 0.5em;
}

header>div.info-header>img {
    width: 15px;
}

header>div.principal-header {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header>div.principal-header>div.btn-header>img {
    height: 35px;
}

header>div.principal-header>div.logo>img {
    height: 25px;
}