@charset "UTF-8";

@media screen and (min-width: 576px) {
    div.search2 {
        display: none !important;
    }

    div.search1 {
        display: block !important;
    }

    div.search1>input {
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    div.search1>input {
        width: 400px !important;
    }
}


