@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.caixa2 {
    background-color: greenyellow;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: blueviolet;
    grid-area: 2 / 3 / span 3 / span 4;
}