@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #f1d8c9, #f2c3af);
} 

p{
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(148, 118, 100, 0.624);
    
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(84, 83, 83, 0.72);
}

h2{
    color: #125189;
}