* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.curso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.curso:hover {
    border-color: #f00;
}

.C1 {
    background-color: #ccc;
    color: #444;
}

.C2 {
    background-color: #444;
    color: #ccc;
}

.destaque {
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}