* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template: 80px 50px auto 50px / 1fr 2fr 1fr;
    gap: 10px;

    padding: 20px 0;
    
    height: 1000px;
}

.topo {
    background-color: brown;
    grid-area: 1 / 1 / 2 / 4;
}

.menu {
    background-color: greenyellow;
    grid-area: 2 / 1 / 3 / 4;
}

main {
    grid-area: 3 / 1 / 4 / 4;

    display: grid;
    gap: 10px;
    grid-template: auto / 1fr 2fr 1fr;
}

.principal {
    background-color: blueviolet;
    grid-area: 1 / 1 / 2 / 3;
}

.secundario {
    background-color: yellow;
    grid-area: 1 / 3 / 2 / 4;
}

.rodape {
    background-color: blue;
    grid-area: 4 / 1 / 5 / 4;
}

.formatacao {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
}
