@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cor-1: #151610;
    --cor-2: #1E2A26;
    --Cor-3: #6D7B6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


section {
    width: 100%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

div#imagem {
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
    background: url(../images/pexels-caique-araujo-101156227-15705997.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#fomulario {
    padding: 20px;
}

div>h1 {
    text-align: center;
    color: var(--cor-2);
    margin: 10px 0;
    font-size: 1.2em;
}

div>p {
    color: var(--Cor-3);
    font-size: 0.75em;
    margin: 10px 0;
}

form>div {
    position: relative;
}

form>div>span {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

div>label>input {
    width: 100%;
    border: 2px solid var(--cor-2);
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
}



.btn-entrar{
    width: 100%;
    background-color: #1E2A26;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    margin: 10px 0;
}

.btn-esqueci-senha {
    width: 100%;
    background-color: white;
    color: var(--Cor-3);
    border: 2px solid var(--Cor-3);
    border-radius: 10px;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    main {
        background: linear-gradient(to bottom, var(--Cor-1), var(--Cor-3));
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        width: 80vw;
        background-color: white;

    }
    div#imagem {
        width: 50%;
        height: 400px;
        border-radius: 10px 0 0px 10px;
    }
}

@media screen and (min-width: 1100px) {
    main {
        background: linear-gradient(to bottom, var(--Cor-1), var(--Cor-3));
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        width: 50vw;
        background-color: white;

    }

    section > div {
        width: 100%;
    }

    div#imagem {
        width: 100%;
        height: 400px;
        border-radius: 10px 0 0px 10px;
    }
}
