@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cor-1: #151610;
    --cor-2: #1E2A26;
    --Cor-3: #6D7B6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    background: linear-gradient(to bottom, var(--Cor-1), var(--Cor-3));
    width: 100vw;
    height: 100vh;
    position: relative;
}

main {
    width: 80vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

div#imagem {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background: url(../images/pexels-caique-araujo-101156227-15705997.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#fomulario {
    padding: 10px;
}

div>h1 {
    text-align: center;
    color: var(--cor-2);
    margin: 10px 0;
    font-size: 1.2em;
}

div>p {
    color: var(--Cor-3);
    font-size: 0.75em;
    margin: 10px 0;
}

label {
    display: none;
}

form>div {
    display: inline-block;
    width: 100%;
    height: 50px;
    border: 3px solid var(--cor-2);
}

form>div>input {
    max-width: 100%;
}

