@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cor-1: #151610;
    --cor-2: #1E2A26;
    --Cor-3: #6D7B6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    background: linear-gradient(to bottom, var(--Cor-1), var(--Cor-3));
    width: 100vw;
    height: 100vh;
}

