@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-red: #d72d2d;
    --cor-cinza: #edecec;
    --cor-roxa: #542E95;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--cor-cinza);
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.bar-sup{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75em;
    padding: 10px 25px 10px 25px;
}

.promocoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    img{
        width: 20px;
    }

    p{
        color: white;
    }
}

.links-uteis ul{
    display: flex;
    list-style: none;
    gap: 2em;
    
    li{
        color: white;
        a{
            color: white;
        }
    }
}

.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.pesquisar{
    position: relative;
    width: 400px;
}

.pesquisar input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    padding: 10px 10px 10px 20px;
    font-style: italic;
    border-radius: 50px;
}

.pesquisar img{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.entrar ul{
    display: flex;
    justify-content: right;
    align-items: center;    
    list-style: none;
    gap: 2em;
    li span{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        a{
            color: black;
            text-decoration: none;
        }

        a:hover{
            color: var(--cor-red);
            text-decoration: underline;
        }
    }
}

nav{
    background-color: var(--cor-cinza);
    padding: 10px 20px 10px 25px;
    
    ul{
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        gap: 2.5em;
    }

    li a{
        text-decoration: none;
        color: black;
    }

    li a:hover{
        color: var(--cor-red);
        text-decoration: underline;
    }
}

.banner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(https://static.wixstatic.com/media/c837a6_f58829a26e594ca3aa72383e19cf39b9~mv2.png/v1/fill/w_1920,h_565,al_r,q_90,enc_avif,quality_auto/c837a6_f58829a26e594ca3aa72383e19cf39b9~mv2.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;

    .conteudo{
        max-width: 600px;
        margin-left: 10%;

        span{
            background-color: var(--cor-red);
            color: white;
            font-size: 1.5em;
            padding: 5px;
        }

        h1{
            font-weight: bold;
            font-size: 4em;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        p{
            font-size: 1.5em;
        }

        button{
            margin-top: 40px;
            background-color: var(--cor-roxa);
            padding: 15px 25px 15px 25px;
            border: none;
            color: white;
            border-radius: 50px;
            font-weight: bold;
        }

        button:hover{
            background-color: black;
            cursor: pointer;
        }
    }
}

main{
    max-width: 1200px;
    margin: auto;
}

.corpo-promocoes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 250px;
    color: white;
    margin: 20px 0 20px 0;

    
    h1{
        padding: 10px 0 10px 0;
    }

    .promocao1{
        width: 100%;
        height: 100%;
        background-image: url(https://static.wixstatic.com/media/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg/v1/fill/w_893,h_468,al_t,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg);
        background-position: center center;
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .promocao2{
        width: 100%;
        height: 100%;
        background-image: url(https://static.wixstatic.com/media/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg/v1/fill/w_893,h_468,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg);
        background-position: center center;
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    button{
        background-color: white;
        padding: 10px 30px 10px 30px;
        border: none;
        color: black;
        border-radius: 50px;
        margin-top: auto;
        align-self: flex-start;
        cursor: pointer;
    }

    button:hover{
        background-color: black;
        color: white;
    }

    .promocao1:hover, .promocao2:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }
}

.info{
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        display: flex;
        align-items: center;
        gap: 15px;

        img{
            height: 30px;
        }
    }
}

