@charset "UTF-8";

@font-face{
    font-family: 'Xilogravura';
    src: url(font/xilosa_.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'Xilogravura';
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0 40px 0;
}

header > h1{
    font-variant: small-caps;
    font-size: 10vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.4em;
    padding: 30px;
    font-size: 5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(78, 71, 71);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.624);
    padding: 20px;
    text-shadow: 1px 1px 0px black;
}

section.normal > p{
    padding-left: 20px;
}

.p-margin{
    margin-bottom: 60px;
}

#img1, #img2{
    background-position: center;
    background-size: cover;
}

section#img1{
    background-image: url(images/imagem1.png);
}

section#img2{
    background-image: url(images/imagem2.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer img{
    height: 200px;
    margin: 30px 0 30px 0;
}

footer p{
    font-size: 1em;
}