@charset "UTF-8";

body{
    background-color: rgb(165, 255, 182);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 49, 17);
}

h2{
    color: rgb(102, 63, 0);
}

h1#principal{
    text-align: center;
    font-size: 3em;
    background-color: rgb(25, 198, 25);
}

.basico{
    color: rgba(35, 0, 174, 0.914);
}

.intermediario{
    color: blueviolet;
}

.avancado{
    color: brown;
    font-style: italic;
}

.destaque{
    background-color: rgba(249, 232, 0, 0.638);
}