* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.curso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.selecionado {
    background-color: #888 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.caixa {
    height: 500px;
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button {
    width: 150px;
    height: 40px;
    background-color: #008;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 5px;
}