@charset "UTF-8";

body{
    background-color: rgb(165, 255, 182);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 49, 17);
}

h2{
    color: rgb(102, 63, 0);
}

h1#principal{
    text-align: center;
    font-size: 3em;
    background-color: rgb(25, 198, 25);
}