@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: 'Android';
    src: url('/aprendendo_css/desafio010/fontes/idroid.otf');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: "Noto Sans", sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

div.video{
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.video > iframe{
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    padding: 40px
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.495);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.38);
    width: 100%;
}

nav > a{
    display: inline-block;
    color: var(--cor0);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: var(--cor2);
    border-radius: 5px;
    color: #063d1e;
    transition-duration: 0.5s;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.574);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

main h1{
    color: var(--cor4);
    font-family: var(--fonte-android);
    margin-top: 10px;
    margin-bottom: 10px;
}

main h2{
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    font-family: var(--fonte-android);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cor5);
    border-radius: 10px;
}

main p{
    text-align: justify;
    padding: 10px 0 10px 0;
    margin: 15px 0 15px 0;
    line-height: 1.5em;
}

.titulo-imagem{
    font-weight: 300;
    font-weight: 0.75em;
    text-align: center;
    font-style: italic;
    line-height: 1em;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.75em;
    padding: 20px;
}

picture img{
    width: 100%;
    border-radius: 10px;
}

.bugdroid{
    width: 50%;
    display: block;
    margin: 0 auto;
}



main a{
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color: #3ddc84;
    padding: 2px 8px;
    border-radius: 5px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);
}

aside{
    background-color: var(--cor1);
    padding: 15px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.30);
}

main h3{
    color: white;
    background-color: #063d1e;
    text-align: center;
    padding: 10px;
    margin: -15px -15px 0 -15px;
    border-radius: 10px 10px 0 0;
}

main ul{
    list-style-position: inside;
    list-style-image: url();
    list-style-type: '\2714\00A0\00A0';        
}