@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cor-1: #151610;
    --cor-2: #1E2A26;
    --Cor-3: #6D7B6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    background-color: var(--cor-2);
    height: 100vh;
    width: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.448);
    transition: width 0.3s, heiht 0.3s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: var(--cor-2) url(../images/pexels-caique-araujo-101156227-15705997.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

div#fomulario {
    display: block;
    padding: 10px;
}

div#fomulario>h1{
    text-align: center;
    margin-bottom: 10px;
}

div#fomulario>p{
    font-size: 0.8em;
}