@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s linear;
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover{
    width: 35px;
}

body{
    background-color: var(--bg);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.btn{
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover{
    letter-spacing: 0.1rem;
}

.home-container{
    background: url('media/home-img.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content{
    max-width: 60rem;
}

.content h3{
    color: #fff;
    font-size: 6rem;
}

.content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.title span{
    color: #fff;
    text-transform: uppercase;
}

.about .row{
    display: flex;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content{
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img{
    height: 10rem;  
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 0.5rem;
}

.menu .box-container .box .price span{
    color: var(--main-color);
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: 400;
}

.menu .box-container .box:hover{
    background-color: #ffffff;
}

.menu .box-container .box:hover>*{
    color: var(--black);
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 1rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: 300;
}

.review .box-container .box .perfil{
    height: 7rem;
    width: 7rem;
    border-radius: 50px;
}

.review .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 2rem 0;
}

.address{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.address iframe{
    border-radius: 10px;
    width: 100%;
    height: 50vh;
}

.rodape{
    width: 100wv;
    text-align: center;
    height: 10rem;
    padding: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


.rodape p{
    color: #fff;
}