@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(src/images/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(src/images/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 270px;
    height: 480px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
}