* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

button {
    width: 150px;
    height: 40px;
    background-color: rgb(5, 5, 73);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.seletor {
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}

.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #ccc;
    color: #444;
}

.caixa {
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
    border-radius: 10px;
}

.btn_lixeira {
    width: 25px;
    cursor: pointer;
}