@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #010027, #d14a02);
    position: relative;
}

.formulario{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 16px;
    padding: 35px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
   width: 300px;
   padding-bottom: 20px;
}

hr{
    margin-bottom: 30px;
}

.formulario h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.caixa-formulario{
    position: relative;
    margin-bottom: 30px;
}

.caixa-formulario input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding: 0 20px;
}

.caixa-formulario input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.caixa-formulario i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.lembrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;

}

.lembrar label input{
    accent-color: #fff;
}

.lembrar label{
    display: flex;
    align-items: center;
    gap: 5px;
}


.lembrar a{
    text-decoration: none;
    color: #fff;
}

.lembrar a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

button:hover{
    background-color: #12083c;
    color: #fff;
    transition: 0.2s;
    transform: translateY(-2px);
}

.link-registro{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.link-registro a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.link-registro a:hover{
    text-decoration: underline;
}

.lembreme{
    accent-color: #fff;
}