@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8ffbd;
    margin: 20px;
}
h1 {
    color: #301818;
    background-color: rgba(255, 94, 0, 0.617);
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 8px #888888;
    
}

h2 {
    color: #4b2e2e;
    background-color: rgba(255, 200, 0, 0.617);
    border-radius: 12px;
    padding: 8px;
    text-align: left;
    box-shadow: 3px 3px 6px #888888;
    text-align: center;
}

p {
    color: #000000;
    font-size: 16px;
    text-align: justify;
    margin: 15px;
    line-height: 1.5;
}